<style>
  *{
    font-family: OpenSans-Light, Helvetica, Arial, sans-serif;
  }

</style>


<div>
  <h1 class="box">Alarm</h1>

  Your alarm will activate on the
  <br>{{day}} {{monthName}} {{year}} at {{hour}}:{{min}} {{ampm}}

  <P>Press <u>RIGHT</u> to confirm.</P>
</div>




</style>
