<style>
  *{
    font-family: OpenSans-Light, Helvetica, Arial, sans-serif;
  }
</style>

<h1>Alarm</h1>

Your alarm will activate on the
<br>{{day}} {{monthName}} {{year}} at {{hour}}:{{min}} {{AMPM}}.

<P>Press <u>RIGHT</u> to confirm.</P>
