 <!-- html goes here -->
<!-- <form>
  <input type="number" name="day" min="1" max="31" value={{day}}>
  <input type="number" name="month" min="1" max="12" value={{month}}>
  <input type="number" name="year" min="00" max="99" value={{year}}>
</form> -->
<div>{{day}} | {{monthName}} | {{year}} | {{selected}}</div>
