<h1>This is our menu page</h1>
<div class="menu">
    {{option1}}: {{value1}}
</div>
<div class="menu">
    {{option2}}: {{value2}}
</div>
<div class="menu">
    {{option3}}: {{value3}}
</div>
<div class="menu">
    {{option4}}: {{value4}}
</div>
<div class="menu">
    {{option5}}: {{value5}}
</div>